@import '/common/film-wrap'
@import '/common/pages-count'
@import '/common/header'
@import '/common/footer'

body
  margin 0
  background linear-gradient(#7ce664, #18cfef);

  *
    box-sizing border-box

  .content_block
    max-width 1300px;
    margin 0 auto;
    background white
    padding-top 70px;
    padding-bottom 10px;

  .content
    min-height 100vh;

  .total-pages
    display none;
    height 45px;
    background #ffc7ab
    margin 0 10px;
    border-radius 10px;